doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      h1= title
      img(src='../images/magellan.gif')
      h2 Ferdinand Magellan
      p   Welcome to Magellan's Voyage
      block content
