body {
  padding: 10em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #FBE5B6;
}

a {
  color: #00B7FF;
}
.small-header01{
    font: 1.5em bold Arial, sans-serif;
}
.map{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -10;
    opacity:0.5;

}
.voyage-container{
    background: rgba(251, 229, 182, 0.8);

}